body {
  text-align: center;
  background: #f8e8a6;
}

a {
  margin: 0 10px;
  color: green;
}

.email {
  color: blue;
  text-decoration: underline;
}
img {
  height: 450;
  width: 600px;
  border-radius: 6px;
}
